<h1>Editing word group</h1>

<%= render "form", word_group: @word_group %>

<br>

<div>
  <%= link_to "Show this word group", @word_group %> |
  <%= link_to "Back to word groups", word_groups_path %>
</div>
