<div id="<%= dom_id template %>">
  <p>
    <strong>User:</strong>
    <%= template.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= template.name %>
  </p>

  <p>
    <strong>Template type:</strong>
    <%= template.template_type %>
  </p>

</div>
