<h1>Editing group</h1>
<div class="word-select">
  <%= render 'select_words', words: @words, group: @group %>
</div>
<div>
  <%= link_to "Show this group", @group %> |
  <%= link_to "Back to groups", groups_path %>
</div>
