<h1 class="text-center">Welcome, <%=current_user.display_name %>!</h1>
<ul class="devise-home-links">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>
<div class="image-grid">
</div>
