<p style="color: green"><%= notice %></p>
<h1>Galleries</h1>
<div id="galleries">
  <% @galleries.each do |gallery| %>
    <p class="gallery-list-item">
      <%= gallery.id %>: <%= link_to gallery.name.upcase, gallery %>
    </p>
  <% end %>
</div>
<%= link_to "New gallery", new_gallery_path, class: "btn btn-success" %>
