.post {
  border: 1em black solid;
  padding: 10px;
}
.post-body {
  text-decoration: none;
  color: black;
  padding: 10px;
  padding-right: 20px;
}

.icon-link {
  padding: 5px;
  text-decoration: none;
  color: black;
  /* background-color: teal;
    color: white; */
}

.small {
  font: 12px sans-serif;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.post a {
  color: black;
  text-decoration: none;
}
.post a:hover {
  color: teal;
}
.text-right {
  text-align: right;
}
.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

.strain {
  width: 18rem;
  height: 30rem;
  margin-bottom: 5rem;
  padding: 10px;
}

.page {
  padding-top: 15px;
}

.half {
  width: 50%;
}
.inline {
  display: inline-block;
  max-width: 625px;
}

#resume-textbox {
  height: 250px;
  width: 75%;
}

.post-form {
  border: 1px black solid;
  padding: 30px;
}
.doc-form {
  margin: 30px;
  border: 8px teal solid;
  padding: 10px;
}
.message-form {
  /* margin: 30px; */
  border: 8px teal solid;
  padding: 10px;
}

.message-content {
  background-color: blue;
}
.test {
  background-color: blue !important;
}
.hidden {
  display: none;
}
.scrollable-div {
  width: 300px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  overflow: auto; /* Enable scrollbars */
}
.word-display {
  /* width: 100%; */
  /* max-width: 525px; */
  width: 100%;
  height: 100%;
}
.sized-display {
  max-width: 525px;
  display: inline-block;
}
.col-img {
  height: 200px;
  width: 200px;
  padding: 5px;
  margin: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
.btn-info {
  background-color: #22334d;
  color: rgb(255, 255, 255);
  filter: drop-shadow(6px -1px 4px #000);
  /* box-shadow: 0 0 25px rgba(17, 1, 68, 0.08); */
  border: none;
}

.btn-info:hover {
  background-color: #0a111d;
  color: rgb(255, 255, 255);
  /* filter: drop-shadow(20px 4px 10px #000); */
  filter: drop-shadow(9px 1px 4px #000);
  /* box-shadow: 0 0 50px rgba(17, 1, 68, 0.08); */
}
#create-nav-dropdown {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.gallery-image-form-group {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  background-color: #22334dcf;
  color: whitesmoke;
}
.main-gallery-image {
  margin-top: 20px;
  max-height: 500px;
}

.button_to {
  margin: 0;
}
.button_to .current-btn {
  position: absolute;
  top: 11%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
  padding: 1px;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));

  /* filter: drop-shadow(2px 2px 10px #000); */
}
.image {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 195px;
  left: 70px;
  z-index: 5;
}

.variation-btn {
  margin-bottom: 5px;
  border: #000 solid 1px;
  top: 225px;
  left: 83px;
}
.quarter {
  width: 25%;
}
.quarter-3 {
  width: 75%;
}
